  <div class="container">
    <div class="tweet_new_box">
      <div class="row">
        <div class="col-md-2 col-md-offset-5" ><div class=Tweet_Area><h1 class="text-center">whisper</h1></div></div>
      </div>
        <div class="row">
          <%= form_for :article, url: articles_path do |f| %>
            <div class="form-group">
              <div class="col-md-2 col-md-offset-5">
                <%= f.label :textarea %>
                <%= f.text_area :text, class: 'form-control'%>
              </div>
                <%= f.submit 'whisper', class: 'btn btn-block' %>
            </div>

          <% end %>

        </div>
    </div>
  </div>
