<div class="team-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">all tweet</h2>
      <p class="text-center">みんなの近況をチェックしよう！</p>
    </div>
        <div class="row people">
          <div class="col-md-6 col-lg-4 item">
            <img class="rounded-circle" src="#"/>
            <h3 class="name">ユーザー名</h3>
            <p class="title">ユーザー名</p>
            <p class="description">ツイート内容の詳細</p>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <img class="rounded-circle" src="#"/>
            <h3 class="name">ユーザー名</h3>
            <p class="title">ユーザー名</p>
            <p class="description">ツイート内容の詳細</p>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <img class="rounded-circle" src="#"/>
            <h3 class="name">ユーザー名</h3>
            <p class="title">ユーザー名</p>
            <p class="description">ツイート内容の詳細</p>
          </div>
        </div>
    </div>
</div>
