<div class="container">
      <div class="jumbotrn">
         <div class="row">
           <div class="col-md-4"></div>
           <div class="col-md-8"><h1>ツイート</h1><h1>フォロー</h1><h1>フォロワー</h1><p></div>
         </div>
         <div class="row">
           <div class="col-md-12"></div>
         </div>
        <h1>自己紹介</h1>
        <p class="lead">ここは自己紹介のページになります。自由に自分について書いてください。(ex)住んでいる場所、趣味など</p>
      </div>
    </div>
